* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  padding: 20px;
}

h3 {
  padding: 5px 0px 5px 0px;
}

p {
  font-size: 12px;
  font-family: sans-serif;
  padding-bottom: 2px;
}

p:last-of-type {
  padding-bottom: 25px;
}

p:first-of-type {
  padding-top: 5px;
}
